body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f4f4f4;
    flex-direction: column;
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input[type="text"] {
    width: 95%;
    margin: 2rem 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}
button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
button:hover {
    background-color: #218838;
}
.textInput{
    font-weight: bold;
    font-size: 2.7rem;
}
.qr-div{
    margin-top: 2rem;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
}

.download-btn {
    font-size: 1.5rem;
    display: block;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 1.5rem;
    text-decoration: none;
    border: 2px solid transparent;
    transition: background-color 0.3s, border 0.3s;
}
.download-btn:hover {
    background-color: #0505b4; /* Darker cyan */
}
.qr-div {
    display: none;
}
@media only screen and (max-width: 959px) {
  .form-container{
    margin-left: 4rem;
    margin-right: 4rem;
  }
    .download-btn {
        font-size: 1.2rem;
    }
    button{
        font-size: 1.2rem;
    }
    .textInput{
        font-size: 2rem;
    }
}
